/*************farver***********/
:root {
  --primary-color: rgba(15, 15, 15, 1);
  --secondary-color: rgba(245, 245, 245, 1);
  --accent-color: rgba (140, 97, 246, 1);
  --tertier-color: rgba (26, 26, 26, 1);
}
/*************farver***********/

/***********fonte************/
@font-face {
  font-family: Circular Std;
  src: url();
}
@font-face {
  font-family: Source Sans Pro;
  src: url();
}
/***********fonte************/

/***********Grids************/
.grid_12-6 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
/***********Grids************/

/***********Tekst størrelse************/
:root {
  --h1-size: 4rem;
  --h2-size: 2.6rem;
  --p-size: 1.4rem;
  --footer-size: 1.25rem;
  --headerAndLink-size: 1rem;
}
/***********Tekst størrelse************/
