---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Hoverbillede from "../components/Hoverbillede.astro";
import Fi from "../components/Filter.astro";
import SignUp from "../components/Sign_up.astro";
import Knap_download from "../components/Knap_download.astro";
import LaesMere from "../components/LaesMere.astro";
import Billede from "../components/Billede.astro";
import Karrusel from "../components/Karrusel.astro";
import FotokonkurrenceAfsnit from "../components/FotokonkurrenceAfsnit.astro";
import Filterfirkant "../components/Filterfirkant.astro""
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>
  <body
    ><Header />
    <h1>Astro</h1>
  </body>
  <Billede />
  <Knap_download />
  <LaesMere />
  <Karrusel />
  <FotokonkurrenceAfsnit />
<Filterfirkant />
</html>

<style>
  .grid_1-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1fr;
  }

  .overskrift {
    grid-column: 1/3;
    grid-row: 1;
    padding-left: 20px;
  }

  .tekst {
    grid-column: 2/5;
    grid-row: 2;
    padding-right: 120px;
  }

  .destination {
    grid-row: 1;
    grid-column: 1/2;
    justify-items: end;
    display: grid;
    padding-right: 170px;
  }

  .single-billede {
    grid-row: 1;
    grid-column: 1/2;
  }

  img {
    max-width: 90%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: end;
  }
</style>
