---
import Knap_download from "../components/Knap_download.astro";
import LaesMere from "../components/LaesMere.astro";
import Billede from "../components/Billede.astro";
import Karrusel from "../components/Karrusel.astro";
import FotokonkurrenceAfsnit from "../components/FotokonkurrenceAfsnit.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
  <Billede />
  <Knap_download />
  <LaesMere />
  <Karrusel />
  <FotokonkurrenceAfsnit />
</html>
