---
import "../styles/global.css"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Filterfirkant from "../components/Filterfirkant.astro";
import Filterlinje from "../components/Filterlinje.astro";
import Filter from "../components/Filter.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>
  <body
    >
    <Header />
    <h1>COPENHAGEN LIGHT FESTIVAL</h1>
<h1>PROGRAM 2024</h1>
<h2>02-25 FEBRUAR</h2>
<Filterfirkant />
<Filterlinje />
<Filter />
<Footer />
</html>

<style>



</style>