---
const response = await 

import Card from "../components/Card.astro"
---

<html lang="da">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>program</title>
    </head>
    <body>
<h1>COPENHAGEN LIGHT FESTIVAL</h1>
<h1>PROGRAM 2024</h1>
<h2>02-25 FEBRUAR</h2>

    <Card h2="id"/>

    </body>
</html>