---
import Card from "../components/Card.astro" 
import Footer from "../components/Footer.astro";
---


    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>program</title>
    </head>
    <body>
<h1>COPENHAGEN LIGHT FESTIVAL</h1>
<h1>PROGRAM 2024</h1>
<h2>02-25 FEBRUAR</h2>

  <Card/>
<div class="lodret-linje"></div>
<Card/>
<div class="lodret-linje"></div>
<Card/>
<div class="vandret-linje"></div>
<Footer />
    </body>

    <style>
    .lodret-linje{
  border-left: 1px solid #ffffff;
  height: 50px;
  margin: 0;
}

    </style>