---
import Filter2 from "../components/Filter2.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>
  <body
    >
<Filter2 />
</html>

<style>
.Filter2 {
  position: relative;
  top: 100px;
  left: 205px;

  
}
