---
const { data } = Astro.props;
---

<a href={`vaerker/${data.slug}`}>
  <article class="grid_item">
    <img src={data.image} alt="" />
    <h2>{data.name}</h2>
  </article>
</a>

<style>
  .grid_item {
    position: relative;
  }
  .grid_item::before,
  .grid_item::after {
    content: "";
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
  }
  .grid_item::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
  }
  .grid_item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
  }
  img {
    max-width: 100%;
  }

  hr {
    rotate: 90deg;
    border: 1px solid white;
    width: 300px;
  }
</style>
