---

---
<article>
  <a href="/overview"> 
        <div class="stor-linje"></div>
        <div class="linje-1"></div>
        <div class="linje-2"></div>
        </a>
  </article>
  
  <style>
.stor-linje {
  width: 100px;
  height: 100px;
  background-color: black;
  z-index: 1;
  position: relative;
}

.linje-1,
.linje-2 {
  width: 30px;
  height: 8px;
  background-color: #000;
  position: absolute;
}

.linje-1 {
  top: 528px;
  left: 1215px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 2;
}

.linje-2 {
  top: 545px;
  left: 1215px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 3;
}
  </style>