---

---
<article>
  <div class="stor-firkant">
    <a href="/program">
      <div class="lille-firkant-1"></div>
      <div class="lille-firkant-2"></div>
      <div class="lille-firkant-3"></div>
      <div class="lille-firkant-4"></div>
    </a>
  </div>
</article>

<style>
.lille-firkant-1,
.lille-firkant-2,
.lille-firkant-3,
.lille-firkant-4 {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
}

.lille-firkant-1 {
  top: 528px;
  left: 1165px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 2;
}

.lille-firkant-2 {
  top: 528px;
  left: 1183px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 2;
}

.lille-firkant-3 {
  top: 545px;
  left: 1183px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 2;
}

.lille-firkant-4 {
  top: 545px;
  left: 1165px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 2;
}

</style>