---
const //navn// = Astro.props.navn;
---

<article>
    <h4>{nummer}</h4>
<h3>{navn}</h3>
<a href=""></a>
</article>

<h1>COPENHAGEN LIGHT FESTIVAL</h1>

<h2>CONTACT</h2>
<p>info@copenhagenlightfestival.org</p>
<p>Tlf. +45 25 55 66 04</p>

<h2>NEWSLETTER</h2>
<p>Sign up</p>

<h2>SOCIALS</h2>
<p>Instagram</p>
<p>Facebook</p>

<style>
</style>