---

---
<footer>
    <div class="del-1">
        <h3>COPENHAGEN LIGHT FESTIVAL</h3>
    </div>
    <div class="lodret-linje"></div>
    <div class="del-2">
        <h4>CONTACT</h4>
        <p>info@copenhagenlightfestival.org</p>
        <p>Tlf. +45 25 55 66 04</p>
    </div>
    <div class="del-3">
        <h4>NEWSLETTER</h4>
        <p>Sign up</p>
    </div>
    <div class="del-4">
        <h4>SOCIALS</h4>
        <p>Instagram</p>
        <p>Facebook</p>
    </div>
    <div class="lodret-linje"></div>
</footer>

<style>
footer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin: 5px;
  padding: 0;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
}
p {
  margin: 0;
}

.lodret-linje {
  border-left: 1px solid black;
  height: 100px;
  margin: 0;
}

.del-2,
.del-3,
.del-4 {
  margin: 5%;
}
</style>