---

---

<div class="grid_1-1">
  <img src="/public/fotokonkurrence.png" alt="fotokonkurrence" />
  <div>
    <h1>FOTOKONKURRENCE</h1>
    <p>
      Igen i år inviterer vi lysfestivalens gæster, til at dele billeder af
      jeres yndlings lysværker og stemningsbilleder fra jeres ture rundt i byen
      – med os og med en jury, som vil nominere 25 billeder, der samles i en
      fotoudstilling om Copenhagen Light Festival 2024.
    </p>
  </div>
</div>

<div class="grid_1-1">
  <div>
    <h1>GUIDEDE TURE</h1>
    <p>
      Copenhagen Light Festival arrangerede i 2024 som noget nyt guidede ture
      til fods om lysfestivalens værker og baggrund.
      <br />
      De guidede gåture gik gennem hjertet af København og bød på inspirerende fortællinger
      bag hvert værk, fortalt af kyndige guides fra lysfestivalen.
    </p>
  </div>
  <img src="/public/gatur.png" alt="gatur" />
</div>
<style>
  h1 {
    font-family: Circular Std;
    color: black;
    letter-spacing: 2px;
    font-size: 3rem;
  }

  p {
    font-family: Circular Std;
    color: black;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  body {
    background-color: black;
  }
</style>
