---
import SignUp from "../components/Sign_up.astro";
---

<header>
  <img src="/logo.svg" alt="logo" />
    <nav>
      <ul>
        <li><a href="../pages/overview.astro">PROGRAM</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">KORT</a></li>
        <li><a href="#">KONTAKT</a></li>
        <li><a href="#">OM OS</a></li>
      </ul>
    </nav>
  <div>
    <SignUp />
  </div>
</header>

<style>

  header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    font-family: Circular Std;
    margin: 1rem;
    align-items: center;
  }

  nav a {
    padding: 1rem;
  }

  ul,
  a {
    list-style: none;
    text-decoration: none;
    color: var(--secondary-color);
  }

  ul {
    display: flex;
  }
</style>
