---
import SignUp from "../components/Sign_up.astro"
---

<header>
  <img src="/logo.svg" alt="logo" />
  <nav>
    <ul>
      <a href="#">PROGRAM</a>
      <a href="#">EVENTS</a>
      <a href="#">KORT</a>
      <a href="#">KONTAKT</a>
      <a href="#">OM OS</a>
    </ul>
  </nav>
  <SignUp/>
  
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: var(--primary-color);
    font-family: Circular Std;
    margin: 1rem;
  }
  nav a{
    padding: 1rem;
  }

  ul, a {
    list-style: none;
    text-decoration: none;
    color: var(--secondary-color);
  }
</style>
