---

---

<a href="#"
  >DU ER SOM HIMLENE
  <img src="/public/logo.svg" alt="logo" />
</a>


<style>
  a:active,
  a:visited,
  a:before {
    color: var(--secondary-color);
  }
  a:hover{
    color: var(--accent-color);
  }
  a:hover img{
    display: block;
  }
  a {
    font-family: Circular Std;
    text-decoration: none;
    font-size: var(--h2-size);
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
  }

  img{
    display: none;
  }
</style>
