---

---

<h1>EVENTS</h1>
<div class="slider">
  <div class="slide-track">
    <div>
      <div class="slide">
        <img src="/public/AfterDAC.png" alt="AfterDAC" />
      </div>
      <h3 class="textdescription">AfterDAC</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/fotokonkurrence.png" alt="fotokonkurrence" />
      </div>
      <h3 class="textdescription">Fotokonkurrence</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/Manefest.png" alt="manefest" />
      </div>
      <h3 class="textdescription">Månefest</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/Singing.png" alt="sing" />
      </div>
      <h3 class="textdescription">Singing in the rain</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/AfterDAC.png" alt="AfterDAC" />
      </div>
      <h3 class="textdescription">AfterDAC</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/fotokonkurrence.png" alt="fotokonkurrence" />
      </div>
      <h3 class="textdescription">Fotokonkurrence</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/Manefest.png" alt="manefest" />
      </div>
      <h3 class="textdescription">Månefest</h3>
    </div>

    <div>
      <div class="slide">
        <img src="/public/Singing.png" alt="sing" />
      </div>
      <h3 class="textdescription">Singing in the rain</h3>
    </div>
  </div>
</div>

<style>
  img {
    width: 512px;
    height: 259;
  }

  .slider {
    height: 250px;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .slide-track {
    display: flex;
    width: calc(250px * 8);
    animation: scroll 40s linear infinite;
    overflow: hidden;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 4));
    }
  }

  .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .textdescription {
    color: white;
    font-family: Circular Std;
  }

  h1 {
    color: white;
    font-family: Circular Std;
  }
</style>
