---

---

<h1>EVENTS</h1>
<div class="slideshow-container">
  <div class="mySlides">
    <img src="/public/Abningskoncert.png" alt="Abingskoncert" />
  </div>
  <div class="textdescription">AfterDAC</div>
  <div class="mySlides"><img src="/public/AfterDAC.png" alt="AfterDAC" /></div>
  <div class="textdescription">Åbningskoncert</div>
  <div class="mySlides"><img src="/public/Manefest.png" alt="Manefest" /></div>
  <div class="textdescription">Fuldmånefest</div>
  <div class="mySlides"><img src="/public/Singing.png" alt="Sing" /></div>
  <div class="textdescription">Singing in the rain</div>
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
<!-- <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->

<style>
  img {
    max-width: auto;
  }

  h1 {
    font-family: Circular Std;
    color: black;
    letter-spacing: 2px;
    font-size: 3rem;
  }
  .slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
    display: flex;
  }
</style>
