<a href="#">Sign up</a>

<style>
  a {
    background-color: var(--accent-color);
    padding: 10px;
    color: var(--secondary-color);
    border-radius: 18px;
    font-family: Circular Std;
    text-decoration: none;
    padding-left: 22px;
    padding-right: 22px;
  }
</style>
